# Ignore environment folders
__pycache__/
env/
*.env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/

# Streamlit specific
.streamlit/

# Checkpoints
*.ckpt
*.checkpoint

# PyCharm
.idea/

# General sensitive files
*.secret
*.secrets
*.key
*.pem
*.cert
*.toml

# Logs and temporary files
*.log
*.bak
*.tmp
.DS_Store
Thumbs.db


# Video files
*.mp4
*.avi
*.mkv
*.mov
*.wmv
*.flv
*.webm
*.mpeg
*.mpg

# Ignore PDF and ZIP files
*.pdf
*.zip


