streamlit
langchain-chroma
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
python-dotenv
openai
transformers
validators
arxiv
wikipedia
yt-dlp
pysqlite3-binary >= 3.35.0.