/*CSS Page*/

/* ************ SIDEBAR SETTINGS **************** */

/* Sidebar background color */
[data-testid="stSidebar"] {
    background-color: #011e30; 
    color: white; 
}

/* Sidebar input style */
[data-testid="stSidebar"] input {
    border-radius: 8px;
    color: white; 
}

/* Sidebar logo */
[data-testid="stSidebar"] img {
    position: absolute;
    bottom: 200px; 
    left: 50%; 
    transform: translateX(-50%);
    width: 50px; 
    display: block;
}

/* Sidebar name & title */
[data-testid="stSidebar"]::after {
    content: "Duygu Jones | Data Science, AI & ML Learning";
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%);
    font-size: 12px; 
    color: white;
    text-align: center;
}

/* *************** CHAT PAGE SETTINGS **************** */

/* Chat background color */
[data-testid="stAppViewContainer"] {
    background-color: #00121e; 
    color: white; 
}

/* Title box container */
.title-box {
    background-color: #001d30; 
    padding: 20px; 
    border-radius: 10px; 
    color: white; 
    text-align: center; 
}

/* Main heading h1 */
.title-box h1 {
    font-size: 32px; 
    font-family: 'Arial', sans-serif; 
    margin-bottom: 10px; 
}

/* Subtitle h2 */
.title-box h2 {
    font-size: 18px; 
    font-family: 'Verdana', sans-serif;
    font-weight: lighter; 
    margin-top: 0px; 
}

/* Heading h3 */
.title-box h3 {
    font-size: 18px; 
    font-family: 'Verdana', sans-serif;
    font-weight: normal; 
    margin-top: 10px; 
    margin-bottom: 5px; 
    color: #555; 
}

/* Heading h4 */
.title-box h4 {
    font-size: 16px; 
    font-family: 'Verdana', sans-serif;
    font-weight: normal; 
    margin-top: 8px;
    margin-bottom: 4px;
    color: #666; 
}

/* Heading h5 */
.title-box h5 {
    font-size: 14px; 
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
    margin-top: 6px;
    margin-bottom: 3px;
    color: #777; 
}

/* Heading h6 */
.title-box h6 {
    font-size: 12px; 
    font-family: 'Verdana', sans-serif;
    font-weight: lighter;
    margin-top: 4px;
    margin-bottom: 2px;
    color: #888; 
}
